@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri.woff') format('woff'),
       url('../fonts/Calibri/Calibri.woff2') format('woff2'),
       url('../fonts/Calibri/Calibri.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/CalibriBold/CalibriBold.woff') format('woff'),
       url('../fonts/CalibriBold/CalibriBold.woff2') format('woff2'),
       url('../fonts/CalibriBold/CalibriBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
