.advantages2-item
    text-align center
    padding-right 15px
    padding-left 15px

    @media (min-width 1050px)
        text-align left

    &:nth-child(1)
        .advantages2-item__icon
            background-image inline('advantages2-icon1.png')

    &:nth-child(2)
        .advantages2-item__icon
            background-image inline('advantages2-icon2.png')

    &:nth-child(3)
        .advantages2-item__icon
            background-image inline('advantages2-icon3.png')

    &:nth-child(4)
        .advantages2-item__icon
            background-image inline('advantages2-icon4.png')

    &:nth-child(5)
        .advantages2-item__icon
            background-image inline('advantages2-icon5.png')

    &__icon
        height 55px
        background-repeat no-repeat
        background-position center
        background-size contain
        margin-bottom 15px

        @media (min-width 1050px)
            background-position left center

    &__title
        color #4e8339
        font-size 16px
        text-transform uppercase

        h3
            margin-top 0
            margin-bottom 0
