.offers-item
    text-align center
    padding-left 20px
    padding-right 20px
    max-width 300px

    &__icon-wrap
        {ibt}
        position relative
        width 93px
        height 107px
        background-image inline('offers-icon-wrap.png')
        background-repeat no-repeat
        background-position center
        background-size cover
        margin-bottom 25px

    &__icon
        position absolute
        width 100%
        height 100%
        background-repeat no-repeat
        background-position center

        &_brand
            background-image inline('offers-icon-brand.png')

        &_market
            background-image inline('offers-icon-market.png')

        &_audience
            background-image inline('offers-icon-audience.png')

        &_traffic
            background-image inline('offers-icon-traffic.png')

        &_client
            background-image inline('offers-icon-client.png')

        &_request
            background-image inline('offers-icon-request.png')

        &_funnel
            background-image inline('offers-icon-funnel.png')

        &_loyalty
            background-image inline('offers-icon-loyalty.png')

    &__title
        text-transform uppercase
        font-size 16px
        margin-bottom 10px

        h3
            margin-top 0
            margin-bottom 0

    hr
        width 107px
        height 3px
        background-color black
        margin-top 0
        margin-bottom 10px
        border none

    &__text
        font-size 14px
