.services2-item
    &__wrap
        border-top 2px solid white
        padding-top 17px

    &__title
        font-size 21px
        color white
        margin-bottom 19px

        h3
            margin-top 0
            margin-bottom 0

    &__content
        background-color #fff
        color black
        font-size 20px
        padding 18px
        text-align left
        font-size 11px

    &__top-text
        overflow hidden

        @media (min-width 768px)
            height 40px

    &__price
        margin-top 20px
        margin-bottom 20px
        font-weight 700
        text-align center
        font-size 21px

    &__bottom-text
        margin-bottom 17px

        @media (min-width 768px)
            height 125px

        @media (min-width 1050px)
            height 65px

        p
            margin-bottom 0

        ul
            margin-top 0
            margin-bottom 0
            padding-left 0
            list-style none

    &__link
        text-align center

        a
            {ibt}
            padding 8px 10px
            background-color #ff8c04
            color white
            text-decoration none

    .mCS-dark .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        background-color #b46100
