.team
    &__more
        background rgba(228,193,53,1)
        background linear-gradient(135deg, rgba(228,193,53,1) 0%, rgba(210,212,78,1) 57%, rgba(210,212,78,1) 100%)
        height 194px
        padding-left 50px
        padding-right 50px
        position relative
        width 100%
        height 130px

        @media (min-width 768px)
            height 194px

        span
            color white
            font-size 38px
            text-transform uppercase
            font-weight 700
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%)

