.working
    &__text
        font-size 16px
        text-align center
        max-width 810px
        margin-left auto
        margin-right auto
        margin-bottom 20px

    hr
        max-width 290px
        border none
        background-color black
        height 3px
        margin-top 0
        margin-bottom 40px

    &__list
        text-align center
        font-size 0
        overflow hidden

    &__item
        padding-left 10px
        padding-right 10px

        &:not(:last-child)
            margin-bottom 15px

            @media (min-width 992px)
                margin-bottom 0

        @media (min-width 992px)
            {ibt}
            width 160px
